@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    color: #FFF;
    background: #262c37;
}

body::-webkit-scrollbar {
    background: #262c37;
    width: 10px;
}

body::-webkit-scrollbar-thumb {
    background: #171d24;
    border-radius: 10px;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

header {
    background: #0000001c;
    padding: 20px;
    width: 100%;
}

header,
h2 {
    font-size: 50px;
    text-align: center;
    color: rgb(20, 158, 202);
}

h2 {
    font-size: 30px;
}

.text {
    font-size: 24px;
    width: 850px;
    line-height: 40px;
    text-align: center;
    min-height: 120px;
}

img {
    border-radius: 10px;
}

ul,
ol {
    display: flex;
    flex-wrap: wrap;
    width: 440px;
    gap: 20px;
    font-size: 20px;
    justify-content: center;
}

input {
    width: 325px;
    padding: 10px;
    border-radius: 10px;
    background: #0000001c;
    color: white;
    font-size: 16px;
    font-weight: 500;
}